@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Manrope";
}

@theme {
  --color-background: var(--color-neutral-50);
  --color-foreground: var(--color-neutral-900);
  --color-secondary: var(--color-neutral-600);
}
